body, html{
    text-align: center;
    padding: 0px;
    margin: 0px;
    background-color: rgb(19, 121, 112);
    overflow:auto;
}
.maindiv{
    text-align: center;
    float: left;
    
    
}
.love{
text-transform: uppercase;
text-decoration: underline;
height: 50%;
background-color: silver;
text-align: center;
line-break: auto;
border:2px solid slateblue;
width: 400px;
}

.wedding{
    text-transform: uppercase;
    text-decoration: underline;
    height: 50%;
    text-align: center;
    background-color: silver;
    border:2px solid slateblue;
    width: 400px;
}

.family{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    background-color: silver;
    border:2px solid slateblue;
    width: 400px;
}
.endlife{
    text-align: center;
    text-transform: uppercase;
text-decoration: underline;
    height: 50%;
    background-color: silver;
    border:2px solid slateblue;
    width: 400px;
}
.reunited{
    text-transform: uppercase;
text-decoration: underline;
    padding:0px;
    text-align: center;
    direction: inherit;
    background-color: silver;
    border:2px solid slateblue;
    width: 400px;
    height: 25%;
}