body, html{
    text-align: center;
    background-image: url(IMAGES/schooldesk.gif);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0px;
    height: 100%;
    background-repeat: no-repeat;
   }

   
h4{
    text-align: center;
    margin:0;
}
.mob{
    margin: 0;
}
h2{
    margin:0;
    text-align: center;
    text-decoration: rgb(218, 132, 132);
}
h3{
    margin: 0;
    text-align: center;
    text-decoration: rgb(218, 132, 132);
}
.notice{
    text-align: center;
    color: white;
}

a{
    text-align: center;
    text-decoration: none;
    border: solid red 2px;
    background-color: greenyellow;
    color: red;
    font-size: 25px;
}

.impot_quote{
    width: auto;
    height: 100%;
    border-radius: 2px;
    background-color: rgb(61, 11, 11);
    margin-top: initial;
    font-weight:bolder;
    font-size: 18px;
    border: solid 9px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 30x;
    border-radius: 10px;
    opacity: .3;
    line-height: 22px;
    color: white;
    font-family:arial;
    text-align: left;
}
.loginedit{
    border-radius: 5px;
    background-color: rgb(234, 225, 241);
    padding-left: 2px;
    opacity: .6;  
}
.loginname{
    background-origin: 20px;

}
.loginpassword{

}